*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

  body {
    box-sizing: border-box; }
  
  body {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    color: #777; 
    display: flex;
    background-color: #E5E5E5;
    flex-direction: column;
}

.header {
    height:40px;
    background-color: #fff; 
    padding-bottom: 8   0px;
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    height:40px;
    background-color: #E8EDF5; 
}

.card {
    background-color: #fff;
    border-radius: 4px;
    height: 500px;
    width: 540px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.card-title {
    margin-top: 48px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #0275B1;
    flex: 
}

#timerDisplay {
    font-size: 120px;
    font-weight: 400;
    color: #000;
    margin-bottom: 40px;
}


.hidden {
    display: none;
}

.primary-btn {
	background-color:#0275B1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	padding:13px 20px;
    text-decoration:none;
    text-transform: uppercase;
    margin-right: 20px;
}
.primary-btn:hover {
	background-color:rgb(2, 80, 122);
}
.primary-btn:active {
	position:relative;
	top:1px;
}

.secondary-btn {
	background-color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    border-radius:4px;
    /* border: solid #0275B1 1px; */
	cursor:pointer;
	color:#0275B1;
	font-size:24px;
	padding:13px 20px;
    text-decoration:none;
    text-transform: uppercase;
    margin-right: 20px;
}
.secondary-btn:hover {
    background-color:rgb(110, 184, 224);
    color: #fff;
}
.secondary-btn:active {
	position:relative;
	top:1px;
}