{% extends 'base.html' %}

{% block head %} 

<title>Pomodoro Timer</title>

{% endblock %}

{% block body %} 

<div class="card">
  <h1 class="card-title">pomodoro timer</h1>

<!-- 		<div class="display">
  
</div> -->

<div class="timer-display">
  <span class="min-display"></span>:<span class="sec-display"></span>
</div>

  <div class="buttonRow">
  <a href="#" class="primary-btn btn-start"></a>
  <a href="#" class="secondary-btn btn-pause hidden"></a>
  <a href="#" class="primary-btn btn-resume hidden"></a>
  <a href="#" class="secondary-btn btn-reset hidden"></a>
  </div>      
</div>
    
{% endblock %}