{% extends 'base.html' %}

{% block head %} 

<title>Pomodoro Timer</title>

{% endblock %}

{% block body %} 

<div class="card">
  <h1 class="card-title">pomodoro timer</h1>
  
  <p id="timerDisplay">25:00</p>
  
  <div class="buttonRow">
      <a href='#' id="pomButton" >start focus</a>
      <a href='#' id="resButton" >rest</a>
      <div class="ongoing">
          <a href='#' id="stopButton" >stop</a> 
          <a href='#' id="pauseButton" >pause</a>
    </div>
  </div>

</div>

{% endblock %}