{% extends 'base.html' %}

{% block head %} 

<title>Pomodoro Timer</title>

{% endblock %}

{% block body %} 

<div class="card">
  <h1 class="card-title">pomodoro timer</h1>
  
  <p id="timerDisplay">25:00</p>
  
  <div class="buttonRow">
      <a href='#' id="pomButton" class="primary-btn" >start focus</a>
      <a href='#' id="breakButton" class="secondary-btn">break</a>
      <a href='#' id="pauseButton" class="secondary-btn hidden">pause</a> 
      <a href='#' id="resetButton" class="secondary-btn hidden">reset</a>
  </div>      

</div>
    
{% endblock %}